<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Title Here</title>
<!-- Custom CSS -->
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
<script>
	$(document).ready(function(e) {
        $('.header-toogle h1').click(function(e) {
            $('.nav ul').slideToggle(1000);
        });$('#seacrh').click(function(e) {
            $('.submit').slideToggle(100);
        });
    });
</script>
<link rel="stylesheet" href="css/owl.carousel.css">
 
<!-- Default Theme -->
<link rel="stylesheet" href="css/owl.theme.css">
<!-- Include js plugin -->
<script src="js/owl.carousel.js"></script>
<script>
	$(document).ready(function() {
 
  $("#monthly").owlCarousel({
    navigation : true,
	items :1,
	autoPlay	:true,
	slideSpeed	:1000,
	itemsDesktop :1,
	itemsDesktopSmall :1,
	itemsTablet :1,
	itemsTabletSmall :1,
	itemsMobile :1
  });
  $("#banner1").owlCarousel({
    navigation : true,
	items :1,
	autoPlay	:true,
	slideSpeed	:1000,
	itemsDesktop :1,
	itemsDesktopSmall :1,
	itemsTablet :1,
	itemsTabletSmall :1,
	itemsMobile :1
  });
 
});
</script>
</head>

<body>
<div class="wraper">
	<div class="header">
    	<div class="ner">
        	<div class="inerwraper2">
            	<div class="logo-header2"><img src="images/At_Home_Logo.png"></div>
                <div class="mike">
                	<div class="mike-left">
                    	<img src="images/Mike's-Headshot.png">
                    </div>
                    <div class="mike-right">
                    	<h1>Mike Satterlee</h1>
                        <div class="skill">
                        	<h1>MY SKILLS</h1>
                            <p>• AIR CONDITIONING<br>
                            • FURNACE & BOILER<br>
                            • ELECTRICAL SYSTEMS<br>
                            • OUTLETS & SWITCHES<br>
                            • GARAGE DOORS<br>
                            • PLUMBING SYSTEMS</p>
                        </div>
                    </div>
                </div>
                <div class="sechdule2"><div class="sechdule"><h1>SCHEDULE A REPAIR</h1></div></div>
                
                <div class="top-social">
                	<div class="top-social-img"><a href="#"><img src="images/facebo_03.png"></a></div>
                	<div class="top-social-img"><a href="#"><img src="images/google_03.png"></a></div>
                	<div class="top-social-img"><a href="#"><img src="images/in_05.png"></a></div>
                	<div class="top-social-img"><a href="#"><img src="images/twiter_05.png"></a></div>
                </div>
            </div>
        </div>
    </div>
	<div class="nav">
    	<div class="inerwraper">
        	<div class="call"><h1>801-808-5845</h1></div>
            <div class="header-toogle"><h1>≡</h1></div>
        	<ul>

            	<li><a href="#">HOME</a></li>
            	<li><a href="#">SERVICES</a></li>
            	<li><a href="#">VALUE CARE</a></li>
            	<li><a href="#">GALLERY</a></li>
            	<li><a href="#">TESTIMONIALS</a></li>
            </ul>
            <div class="search-area">
            <p id="seacrh">SCHEDULE A REPAIR TODAY!</p>
            <div class="submit">
            	<form action="">
                	<input type="text" placeholder="Enter your zipcode:" />
                    <input type="submit" value="Submit" />
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="section2">
    	<div class="inerwraper">
        	<div class="section2-left">
            	<div class="section2-left-img"><img src="images/At_Home_Logo.png"></div>
                
            </div>
            <div class="section2-middle">
           		<div class="calender"><img src="images/calender.png"></div>
           </div>
        </div>
    </div>
    <div class="test-m">
    	<div class="inerwraper">
        	<div class="testmoniles-iner white">
            	<h1>More Testimonials</h1>
            	<div class="testmoniles-left">
                	<p>“Harumquos sequia conecaecto molupta
                    cullautes dolorum iumqui ipideru mquam,
                    odipicil ende liquo idendant.<br><br>
                    Tasin etur minto blacepe rchilluptur adiciist
                    pro voloratecae reiciis as aut autatium quo
                    blam quo qui toribusdae aut aces ma none
                    voluptas aut optio. Nem ipsae. Nequid min
                    reicipiet velendis alit atiisqui corem volenduci</p>
                </div>
                <div class="testmoniles-right">
                	<p>
                                        aut endestia.<br><br>
                    Nos earit ut mostium quatquis maximoluptur
                    restione core vollacescium haria dolesecto
                    con con essusae pero beaquia ndanihi cietus
                    niendis voluptatur? Qui omnim laborrum.”<br><br>
                    -Mary J. from Murray</p>
                </div>
                <div class="white-line"></div>
                <div class="testmoniles-left">
                	<p>“Harumquos sequia conecaecto molupta
cullautes dolorum iumqui ipideru mquam,
odipicil ende liquo idendant.<br><br>
                    Tasin etur minto blacepe rchilluptur adiciist
                    pro voloratecae reiciis as aut autatium quo</p>
                </div>
                <div class="testmoniles-right">
                	<p>blam quo qui toribusdae aut aces ma none
voluptas aut optio. Nem ipsae. Nequid min
reicipiet velendis alit atiisqui corem volenduci
aut endestia.”<br><br>
-Tom F. from West Jordan</p>
                </div>
            </div>
            <div class="social">
    	<div class="inerwraper">
        	<ul>
            	<li><a href="#"><img src="images/facebo_03.png" /></a></li>
            	<li><a href="#"><img src="images/google_03.png" /></a></li>
            	<li><a href="#"><img src="images/in_05.png" /></a></li>
            	<li><a href="#"><img src="images/twiter_05.png" /></a></li>
            </ul>
        </div>
    </div>
        </div>
    </div>
    <div class="background-white">
    	<div class="inerwraper">
        <div class="monthly blue">
        <h1>Our Monthly Specials</h1>
         <div class="monthly-iner">
         	<div id="monthly"  class="owl-carousel owl-theme ">
         	<div><img src="images/Garage_Door_Interior.png" /></div>
         	<div><img src="images/Garage_Door_Interior.png" /></div>
         	<div><img src="images/Garage_Door_Interior.png" /></div>
         	<div><img src="images/Garage_Door_Interior.png" /></div>
            </div>
            <div class="monthly-bottom-text"><h1>All Garage Door Repairs 10% Off*</h1></div>
         </div> 
		</div>
            
        </div>
    </div>
    
    
</div>
</body>
</html>
